*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, serif;
  font-weight: bold;
}
:root{
  --black: #14110F;
  --gold: #D6AE53;
  --green: #8FF7A7;
  --blue: #2D93AD;
  --gray: #7D7C84;

}
html {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
}

body {
  min-height: 100vh;
}

button:hover{
  cursor: pointer;
}